# data structures ----> data storing containers
1.lists  --->mutable-->changeable-->can be deleted elemnets[]
2.tuple ---->immutable()
3.distionaries--- mutable{}
4.sets --->immutable{}
5.Strings----> immuatble  "Anwar", "Text"

1.lists:
data structures ----> data storing containers
1.lists  --->mutable-->changeable-->can be deleted elemnets
2.tuple ---->immutable
3.distionaries--- mutable
4.sets --->mutable
5.Strings----> immuatble

1.lists:
lst=[1,'str',3]  --->0,1,2
#how to access elements
#slicing can be done using indexing
print(lst[0])
print(lst[0:2])
print(lst[-1])
print(lst[-3:-1])

In [21]:
lst=[1,'str',3,11] # --->0,1,2 square bracket 
#how to access elements
#slicing can be done using indexing
# In posetive indexing start by zero, and by default last(element) eliminate, 
# In negative indexing starty by -1, and by default -1(element) eliminate,
# we put element in list with [] square bracket 

lst[0] = 13
print(lst[0])
print(lst[1])
print(lst[0:3])
print(lst[-1])
print(lst[-3:-1])
print(type(lst))

13
str
[13, 'str', 3]
11
['str', 3]
<class 'list'>

In [6]:
Tuple=(1,'str',3) # --->0,1,2
#how to access elements
#slicing can be done using indexing 
print(Tuple[0])
print(Tuple[0:2])
print(Tuple[-1])
print(Tuple[-3:-1])

1
(1, 'str')
3
(1, 'str')

In [7]:
Tuple=(1,'str',3) # --->0,1,2
#how to access elements
#slicing can be done using indexing
Tuple[1] = 2  
print(Tuple[0])
print(Tuple[0:2])
print(Tuple[-1])
print(Tuple[-3:-1])

TypeError: 'tuple' object does not support item assignment

In [9]:
string= '1str3' # --->0,1,2
#how to access elements
#slicing can be done using indexing

print(string[0])
print(string[0:2])
print(string[-1])
print(string[-3:-1])

1
1s
3
tr

In [10]:
string= '1str3' # --->0,1,2  
#how to access elements
#slicing can be done using indexing
string[1] = 2  
print(string[0])
print(string[0:2])
print(string[-1])
print(string[-3:-1])

TypeError: 'str' object does not support item assignment

In [5]:
dic= {0:"Anwar",1:"2",2: "Miss Saba"} # --->0,1,2
#how to access elements
#slicing can not be done by using indexing  
for i in dic:                       # for loop use for iterating the elements.
    print(dic[i])

Anwar
2
Miss Saba

In [17]:
dic= {0:"Anwar",11:"2",2: "Miss Saba"} # --->0,1,2  The value of key in dictionary 
#how to access elements
#slicing can not be done by using indexing  
for i in dic:                       # for loop use for iterating the elements.
    print(i,dic[i])

0 Anwar
11 2
2 Miss Saba

In [19]:
Set = {0,"Anwar",1,2,2, "Miss Saba","karachi"} # --->0,1,2 
#how to access elements,Set is immutable 
#slicing can not be perform while doing operation of Set in Python.  
for i in Set:                       # for loop use for iterating the elements.
    print(i)

0
1
2
karachi
Miss Saba
Anwar

In [20]:
Set = {0,"Anwar",1,2,2, "Miss Saba","karachi"} # --->0,1,2 
#how to access elements,Set is immutable 
#slicing can not be perform while doing operation of Set in Python.  
for i in Set:                       # for loop use for iterating the elements.
    print(i)
    Set[0]=10   # because Set is immutable 
    print(i)

0

TypeError: 'set' object does not support item assignment

In [35]:
List = [10,11,12,-13,"Burhan","Anwar","True"]
print(type(List))
List[0]= -10
List[-3]= 13
print(List)
print(List[0:3])
print(List[-3:-1])

<class 'list'>
[-10, 11, 12, -13, 13, 'Anwar', 'True']
[-10, 11, 12]
[13, 'Anwar']

In [21]:
lst=[1,'str',3,11] # --->0,1,2
#how to access elements
#slicing can be done using indexing
# In posetive indexing start by zero, and by default last(element) eliminate, 
# In negative indexing starty by -1, and by default -1(element) eliminate,
# we put element in list with [] square bracket 

lst[2] = 13
print(lst)

[1, 'str', 13, 11]

In [1]:
lst=[1,'str',3,11] # --->0,1,2
#how to access elements
#slicing can be done using indexing
# In posetive indexing start by zero, and by default last(element) eliminate, 
# In negative indexing starty by -1, and by default -1(element) eliminate,
# we put element in list with [] square bracket 

lst[2] = 13
print(lst[1])
print(lst[0:3])
print(lst[-2])
print(lst[-3:-1])

str
[1, 'str', 13]
13
['str', 13]

# Common tasks related to data manipulation in Python include:

# Data Cleaning: Removing or handling missing values, correcting errors, and ensuring data consistency.

# Data Transformation: Converting data from one format to another, reshaping data, and creating new variables or features.

# Data Filtering: Selecting specific rows or columns based on certain conditions.

# Merging and Joining: Combining data from multiple sources based on common keys or indices.

# Aggregation: Grouping and summarizing data to obtain aggregated statistics.

# Sorting: Ordering data based on specific criteria.

# Python provides various libraries for data manipulation, such as:

# Pandas: A powerful library for data manipulation and analysis that provides data structures like DataFrame.

# NumPy: A fundamental package for scientific computing with support for large, multi-dimensional arrays and matrices.

# Dask: A parallel computing library that integrates with Pandas and NumPy to enable working with larger-than-memory datasets.

In [ ]:
# list 
# how can access the element 
# slicing cand be done by using indexing 

# INDEXING

# INTEGERS = z

#   -6  -5 -4 -3 -2 -1   0  +1  +2  +3  +4  +5 
# BY DEFAULT IN POSITIVE INDEXING (ELIMINATE THE LAST INDEX ELEMENT )
# BY DEFAULT IN NEGATIVE INDEXING (ELEMINATE THE FIRST INDEX VALUE -1, INDEX ELEMENT )

In [2]:
list  MUTABLE

list

In [18]:
lst = [-1,-2,-3,"Burhan","Anwar",33,]
print(type(lst))
lst[0] = 1
print(lst[-6:-1])   # by defualt (index)-1 eliminate 
print(lst[0:5])     # by default (index)5 eliminate
print(lst[-3:-1])

<class 'list'>
[1, -2, -3, 'Burhan', 'Anwar']
[1, -2, -3, 'Burhan', 'Anwar']
['Burhan', 'Anwar']

In [ ]:
HOME WORK 
# lIST (MUATABLE )
# TUPLE (IMMUTABLE)
# STRING (IMMUTABLE)
# Set (immutable)
# dictionary (mutable)

In [34]:
Tuple = ("Burhan","Pakistan",-1,True,False,3.3,3.3,6.9,6.9)
print(type(Tuple))
print(Tuple[0:2])
print(Tuple[-9:-7])
print(Tuple)

<class 'tuple'>
('Burhan', 'Pakistan')
('Burhan', 'Pakistan')
('Burhan', 'Pakistan', -1, True, False, 3.3, 3.3, 6.9, 6.9)

In [2]:
Tuple = ("Burhan", "Pakistan",-1,True,False,3.3,3.3,6.9,6.9)
print(type(Tuple))
Tuple[-1] = 1
print(Tuple)

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [39]:
string = "BurhanDurrani"
print(string)
print(type(string))
print(string[0])
print(string[-1])

BurhanDurrani
<class 'str'>
B
i

In [37]:
string = "BurhanDurrani"
print(string)
print(type(string))
string[0] = 100

BurhanDurrani
<class 'str'>

TypeError: 'str' object does not support item assignment

In [31]:
bur = 'hjklghjkg'
print(bur)

TypeError: 'str' object is not callable

In [32]:
string = "BurhanDurrani"
print(string)
print(type(string))
print(string[0])
print(string[-1])

TypeError: 'str' object is not callable

In [1]:
string = "BurhanDurrani"
print(string)
print(type(string))
print(string[0])
print(string[-1])

BurhanDurrani
<class 'str'>
B
i

In [8]:
string = "aghrhan"
print(string)
print(type(string))
# string[0] = 1
print(string[0:5])
print(string[-7:-1])

aghaBurhan
<class 'str'>
aghaB
aBurha

In [9]:
string = "aghabuurhan"
print(string)
print(type(string))
print(string[0])
print(string[-1])

aghabuurhan
<class 'str'>
a
n

In [13]:
string = "burhan"
print(string)
print(type(string))
print(string[0:3])

burhan
<class 'str'>
bur

In [ ]:
lst=[1,'str',3]

lst[2] = 13
print(lst[1])
print(lst[0:3])
print(lst[-2])
print(lst[-3:-1])

In [ ]:
# Practice
# Tuple
# String
# List

In [ ]:
# Date:8-12-2023(Friday)

In [11]:
Tuple = (4,'str',6,33,"Pakistan")
print(Tuple)
print(type(Tuple))
print(Tuple[-1])
print(Tuple[0:])
print(Tuple[0:])

(4, 'str', 6, 33, 'Pakistan')
<class 'tuple'>
Pakistan
(4, 'str', 6, 33, 'Pakistan')
(4, 'str', 6, 33, 'Pakistan')

In [12]:
Tuple =4,'str',6
print(Tuple)
print(type(Tuple)

(4, 'str', 6)
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [21]:
lst = [1,2,"Pakistan"]
lst[0] =-1
print(lst)
print(lst[-1])
print(lst[0:])

[-1, 2, 'Pakistan']
Pakistan
[-1, 2, 'Pakistan']

In [37]:
sting = "Pakistan zindabad"
print(sting)
print(sting[-1])
print(sting[0])
print(sting[0:])
print(sting[0:19])

Pakistan zindabad
d
P
Pakistan zindabad
Pakistan zindabad

In [44]:
dic= {0:"Anwar",1:"Agha Burhan",2: "Agha Habib"} # --->0,1,2
#how to access elements
#slicing can not be done by using indexing  
for i in dic:                       # for loop use for iterating the elements.
    print(i,dic[i])

0 Anwar
1 Agha Burhan
2 Agha Habib

In [2]:
dic={0:"anwar",1:"agha burhan",2:"agha habib",3:"Pakistan Zindabad"}
for i in dic:
    print(i,dic[i])

0 anwar
1 agha burhan
2 agha habib
3 Pakistan Zindabad

dic={0:"agha",1:"burhan",2:"durrani"}
for i in dic:
    print(i,dic[i])
    print(type(dic))

In [63]:
string="agha burhan"
print(sting)
print(type(string))
print(string[0:5])
print(string[0:])
print(string[-2])

Pakistan zindabad
<class 'str'>
agha
agha burhan
a

In [12]:
Set = {22,33,22,22,22,33,4,5,"anwar","Burhan","Pakistan"}
print(type(Set))
for i in Set:                       # for loop use for iterating the elements.
    print(i)

<class 'set'>
33
Burhan
4
5
22
anwar
Pakistan

In [5]:
dic = {0:22,1:33,2:22,3:22,4:22,5:33,6:4,7:5,8:"anwar",9:"Burhan",10:"Pakistan"}
print(type(dic))

<class 'dict'>

In [17]:
Set = {1,1,1,1,2,2,2,2,3,4}
print(type(Set))
print(Set)
for i in Set:
    print(i)

<class 'set'>
{1, 2, 3, 4}
1
2
3
4

In [9]:
dic = {-11:"anwar",22:"burhan",33:"canada"}
print(type(dic))
print(dic)
for i in dic:
    print(i,dic[i])

<class 'dict'>
{-11: 'anwar', 22: 'burhan', 33: 'canada'}
-11 anwar
22 burhan
33 canada

In [22]:
SET = {1,2,2,2,2,3,3,3,3,"anwar","anwar"}
print(type(SET))
print(SET)
for i in SET:
    print(i)
#set is a immutable data dtructrue

<class 'set'>
{1, 2, 3, 'anwar'}
1
2
3
anwar

In [29]:
dic = {-11:"anwar",22:"Burhan",33:"pakistan"}
print(type(dic))
print(dic)
for i in dic:
    print(i,dic[i])

<class 'dict'>
{-11: 'anwar', 22: 'Burhan', 33: 'pakistan'}
-11 anwar
22 Burhan
33 pakistan